body {
    /* https://materializecss.com/footer.html#sticky-footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    /* https://materializecss.com/footer.html#sticky-footer */
    flex: 1 0 auto;
}

header,
main,
footer {
    /* fixed html structure https://materializecss.com/sidenav.html#variations */
    padding-left: 300px;
}


/* para telas médias ou pequenas */

@media only screen and (max-width: 992px) {
    /* fixed html structure https://materializecss.com/sidenav.html#variations */
    header,
    main,
    footer {
        padding-left: 0;
    }
}


/* para telas grandes */

@media only screen and (min-width: 993px) {
    /* adiciona margem a esquerda do navbar */
    .nav-wrapper {
        padding-left: 15px;
    }
}

.center {
    transform: translatey(px);
    color: rgb(20 210 17);
    font-family: CooperBlack;
}

.big {
    transform: translatey(0px);
    color: rgb(226 240 11);
    font-family: CooperBlack;
}